PORT=3000
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/recordar
JWT_SECRET=troque-por-um-texto-grande-e-secreto

ADMIN_NOME=Administrador
ADMIN_EMAIL=admin@recordar.com
ADMIN_SENHA=troque-esta-senha
